@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "drugs";
  src: url("/public/fonts/TT-Drugs.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.parkinsans-123456 {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #0072ff;
}

.camiloText {
  background: linear-gradient(90deg, #22ffff, #00ff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.3s ease-in-out;
}


.imageDesigner{
  position: absolute;
  width: 500px;
  height: 500px;
  right: 240px;
}

.sloganContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
margin-bottom: 50px;

}

.sloganText{
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;

}

.headerMobile {
  height: 580px;
  background-color: #0072ff;
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: flex-start;
  align-items: flex-start;
}

.headerTextMobile {

  color: #fff;
  font-weight: 900;
  font-size: 42px;
  height: auto;

}

.headerSubTextMobile {
  color: #fff;
  font-weight: 200;
  font-size: 24px;
  margin-top: 10px;
}

.headerParagraphMobile {
  color: #fff;
  font-weight: 100;
  font-size: 18px;
  margin-top: 10px;
}

.camiloText:hover {
  background: linear-gradient(90deg, #fff, #ffe600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.computer {
  transform: scale(1) rotate(0deg);
  /*Escalainicialysinrotación*/
  transition: transform 0.3s ease-in-out;
}



.computer:hover {
  transform: scale(1.1) rotate(2deg);
  -webkit-transform: scale(1.1) rotate(2deg);
  -moz-transform: scale(1.1) rotate(2deg);
  -ms-transform: scale(1.1) rotate(2deg);
  -o-transform: scale(1.1) rotate(2deg);
}

.phones {
  transform: scale(1) rotate(0deg);
  /*Escalainicialysinrotación*/
  transition: transform 0.3s ease-in-out;
}

.phones:hover {
  transform: scale(1.1) rotate(2deg);
  -webkit-transform: scale(1.1) rotate(2deg);
  -moz-transform: scale(1.1) rotate(2deg);
  -ms-transform: scale(1.1) rotate(2deg);
  -o-transform: scale(1.1) rotate(2deg);
}

.anchoBanner {
  width: 100%;
}

.buttonHoverText:hover {
  color: #021b79 !important;
}

body {
  background-color: #fdfdfd;
  color: #212427;
}

.textFont {
  font-family: "drugs", sans-serif;
  font-style: italic;
}

a {
  text-decoration-line: none !important;
}

.title {
  color: #0575e6;
}

.whatsappButtom {
  position: fixed;
  /* Posiciona el elemento en relación a la ventana del navegador */
  bottom: 30px;
  /* Espacio de 30px desde la parte inferior */
  right: 30px;
  transition: 0.8s all cubic-bezier(0.215, 0.61, 0.355, 1);
}

.whatsappButtom:hover {
  scale: 1.2;
}

.buttonColor {
  background-color: #0575e6;
}

.buttonColor:hover {
  background-color: #021b79;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.container {
  width: 100vw;
  padding: 2rem 11rem;
}

.containerSoloCards {
  width: 100vw;
  padding: 2rem 11rem;
  margin-top: -50px;
}

.logoSliderContainer {
  padding: 0 10rem;
}

.subtile-job {
  font-weight: 300;
  color: #212427;
  font-size: 20px;
  display: none;
}

#fullscreen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3744450/man.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#fullscreen h1 {
  font-size: 50px;
  position: absolute;
  top: 270px;
  left: 500px;
  font-weight: 200;
  color: aquamarine;
}

#particles-js {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3744450/man.jpeg");
  background-size: cover;
  background-position: center;
}

#particles-js h1 {
  font-size: 50px;
  position: absolute;
  top: 270px;
  left: 500px;
  font-weight: 200;
  color: aquamarine;
}

.active {
  color: #fdfdfd;
  background: #00c6ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #0072ff,
      #00c6ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #0072ff,
      #00c6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #0072ff;
  border-radius: 15px;

  border: none;
  transition: 0.3s ease-in-out;
}

.active:hover {
  color: #fdfdfd !important;
  background-color: #0072ff !important;
  border-radius: 8px 15px !important;
}

.burgerMenuSection {
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 90px;
  padding-bottom: 20px;
  border-radius: 8px;
  width: 100%;
  display: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.burgerMenuSection.open {
  display: flex;
}

.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #c9c9c9;
  border-radius: 0px;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.2em;
    width: 100%;
    display: none;
  }

  .container {
    width: 100vw;
    padding: 2rem 1rem;
  }

  .containerPerfil {
    width: 100%;
   
  }


  .proyectosBanner {
  
    display: none;
  }

 

  .perfil {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -150px;
    position: relative;
    z-index: 2;
  }

  .socialNETSContainer {
    color: #fdfdfd;
    display: flex;
    gap: 20px;

    height: auto;
    width: 100%;
    margin-top: 40px;
  }

  .containerButtonsMobile {
    display: flex;
    gap: 15px;
    margin-top: 40px;
  }

  .imagenPerfil {
    z-index: 1000;
  }

  .textDescription {
    padding: 0 1.7rem;
    font-size: 1rem;
  }

  .subTittle {
    padding: 0 1.5rem;
    font-size: 1.2rem;
  }

  .logoSliderContainer {
    padding: 0 1.7rem;
  }

  .tittleCard {
    font-size: 1.2rem;
    line-height: normal;
  }

  .descriptionCard {
    font-size: 1rem;
    line-height: normal;
    margin-bottom: 20px;
  }

  .active {
    border: none;
  }
}

@media (width >= 1700px) {
  .imageDesigner {
    width: 500px;
    height: 500px;
    right: 290px;
  }
}