@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color:#fdfdfd ;
    color: #212427
}

a{
    text-decoration-line: none   !important
}

.title{
    color: #0575E6;
}


.buttonColor{
    background-color: #0575E6;
}

.buttonColor:hover{
    background-color: #021B79; 
}